*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    background-color: rgb(15,15,27);
    display: flex;
    justify-content: center;
    padding: 60px;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.container_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.container_box{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
.boxs{
    width: 185px;
    height: 185px;
    background-color: rgb(36,36,134);
    border-radius: 10px;
    color: white;
    padding: 20px;
}
.boxs_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 900;
}
.boxs_started{
    margin-top: 40px;
    
}
.boxs_started i{
  font-size: 12px;
  margin-left: 10px;
}
.boxs1{
    width: 185px;
    height: 185px;
    background-color: rgb(23,23,39);
    border-radius: 10px;
    
    
}
.boxs_starteds{
    margin-top: 40px;
    padding-left: 20px;
    color: white;
}
.boxs_starteds i{
    font-size: 12px;
    margin-left: 10px;
}
.starts{
    margin-top: 40px;
}
.starts i{
    font-size: 12px;
}
.box{
    width: 185px;
    height: 185px;
    background-color: rgb(23,23,39);
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.box_rw{
    width: 65px;
    height: 20px;
    background-color: white;
    border-radius: 13px;
    background-color: rgb(160,224,178);
    position: relative;
    bottom: 10px;
    left: 55px;
    
}
.box_rw p{
    font-size: 12px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
}
.text_box{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-weight: 900;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.container_botton{
    display: flex;
    justify-content: center;
  
}
.container_botton button{
  width: 93px;
  height: 48px;
  border: 1px solid rgb(94,94,138);
  background-color: rgb(15,15,27);
  border-radius: 10px;
  color:rgb(94,94,138);
}
.container_botton button:active{
    background-color: rgb(94,94,138);
    color: black;
}